$icomoon-font-family: "iconfonts" !default;
$icomoon-font-path: "fonts" !default;

$icon-mail: "\e900";
$icon-checkmark: "\e901";
$icon-Instagram: "\e913";
$icon-bulb: "\e902";
$icon-evaluation: "\e903";
$icon-Facebook: "\e904";
$icon-headphones: "\e905";
$icon-location-pin: "\e906";
$icon-mail-circle: "\e907";
$icon-phone: "\e908";
$icon-phone-call: "\e909";
$icon-puzzle: "\e90a";
$icon-Telegram: "\e90b";
$icon-VK: "\e90c";
$icon-clock: "\e90d";
$icon-list: "\e90e";
$icon-profi: "\e90f";
$icon-secur: "\e910";
$icon-service: "\e911";
$icon-medal: "\e912";

